body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #333;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

form {
    display: inline;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.alert {
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* Nuevos estilos para la tabla */

.actions {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espacio entre los botones */
}

input[type="submit"] {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Paginación */
.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border: 1px solid #ddd;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .active a {
    background-color: #4CAF50;
    color: white;
}

.button-container {
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar el contenido horizontalmente */
    margin-top: 20px; /* Espaciado superior */
}

button {
    background-color: #45a049; /* Color de fondo (puedes cambiarlo) */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición suave */
}




